* {
	font-size: 12px;
}

body {
	font-family: helvetica, tahoma, verdana, sans-serif;
	padding: 2px;
	font-size: 13px;
	margin: 0;
	border: 0px;
}

form {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

TABLE {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 15px;
}


.search_div {
	height: 30px;
	padding: 5px;
	border: 1px solid #bbbbbb;
	margin-bottom: 2px;
	background: #fafafa;
}

.datagrid_div {
	background: #eee;
	border: 0px;
}

.easyui-datagrid {
	height: 350px
}

.easyui-pagination {
	background: #efefef;
	border: 1px solid #bbbbbb;
	border-top-width: 0px;
}

.editTable {
	text-align: left;
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	font-size: 12px;
	color: #5E5D5D;
	width: 100%;
	padding: 4px;
}

.editTable span {
	color: #595959;
	font-weight: normal;
}

.editTable td,.editTable th {
	border-bottom: solid #6BAAF1 1px;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: middle;
	padding: 4px;
	white-space: normal;
}

.editTable .title {
	text-align: right;
	width: 100px;
}

.editTable input[type='text'] {
	border: solid #d3d3d3 1px;
}

.editTable textarea {
	border: solid #d3d3d3 1px;
	width: 80%;
}

.TableTitle {
	color: #2779aa;
	font-weight: bold;
	margin-top: 4px;
	text-align: right;
	padding: 4px;
	border-bottom: 1px solid #d3d3d3;
}

.TREE_LAYOUT {
	width: 100%;
}

.TREE_COMMON_BOX_DIV {
	background-color: #fafafa;
	border: 1px solid #bbbbbb;
	padding: 4px;
	height: 420px;
	overflow: auto;
}

.TREE_COMMON_BOX_SPLIT_DIV {
	border-bottom: 1px solid #bbbbbb;
}

.demo-info {
	background: #FFFEE6;
	color: #8F5700;
	padding: 12px;
	border: 1px dotted #ccc;
}

.demo-tip {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	float: left;
}
.styleBackLineColor {
	background-color: #F1F6FF;
}